<button
  matFab
  class="relative mr-4"
  (click)="directToCartPage()"
  (mouseover)="showNote()"
  (mouseout)="hideNote()"
>
  <mat-icon
    class="text-gray-700"
    style="font-size: 30px; width: 30px; height: 30px"
    >shopping_cart</mat-icon
  >

  <p class="text-white px-2 rounded-full bg-red-500 absolute -top-5 -right-4">
    {{ totalItems }}
  </p>
  <p
    class="text-white px-2 rounded-full bg-orange-600 absolute -bottom-3 -right-4"
  >
    {{ totalCount }}
  </p>
  <p
    class="absolute z-10 w-[400px] -left-[360px] text-red-500"
    [class.hidden]="!isShowNote"
  >
    You have {{ totalItems }} item(s) from {{ totalCount }} product(s) in your
    cart
  </p>
</button>
