<footer class="mx-auto bg-gray-200 grid place-content-center p-10 gap-4">
  <p class="text-lg">
    Designed and Developed by
    <a
      href="https://jydxh.github.io/final_portfolio/"
      target="_blank"
      class="font-semibold"
      >Haocheng Qiu</a
    >
  </p>
  <p class="text-lg">
    View the source code at github :
    <a
      href="https://github.com/jydxh/Plant_Store"
      target="_blank"
      class="font-semibold underline"
      >https://github.com/jydxh/Plant_Store</a
    >
  </p>
</footer>
