<section class="grid place-items-center">
  <img
    src="../../../assets/danny-greenberg-frputHdEZS0-unsplash.jpg"
    alt="bridge"
    class="max-w-[1280px] w-full"
  />
  <article class="p-10 max-w-[1280px]">
    <p class="mb-4 text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed natus, ipsum
      officiis possimus omnis at recusandae a fugit eveniet, praesentium modi
      reiciendis beatae magni libero quasi itaque in unde autem.
    </p>
    <p class="mb-4 text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maxime
      obcaecati cumque, saepe, illum natus libero consectetur aperiam placeat
      consequatur ipsa ea! Exercitationem illo iste officiis voluptatem soluta,
      maxime minus!
    </p>
  </article>

  <div class="border p-4 rounded-lg shadow-xl flex flex-col gap-4">
    <p class="text-center font-semibold">Contact Info</p>

    <hr />

    <div class="grid grid-cols-2">
      <p>Name</p>
      <p>Haocheng Qiu</p>
    </div>
    <div class="grid grid-cols-2">
      <p>Email Address</p>
      <p>wzxxds&#64;gmail.com</p>
    </div>
    <div class="grid grid-cols-2">
      <p>Github URL</p>
      <a href="https://github.com/jydxh" target="_blank"
        >https://github.com/jydxh</a
      >
    </div>
    <div class="grid grid-cols-2">
      <p>Portfolios URL</p>
      <a
        class="bg-blue-400 px-2 py-1 rounded-full hover:bg-blue-500"
        href="https://jydxh.github.io/final_portfolio/"
        target="_blank"
        >Click to View Portfolios</a
      >
    </div>
  </div>
</section>
